{% extends 'base.html' %}
{% block content %}

<h1>Sauce Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ sauce.name }}</span>
    <p>Region: {{ sauce.region }}</p>
    <p>Notable Ingredients: {{ sauce.notable_ingredients|linebreaks }}</p>
    <p>Heat Factor: {{ sauce.scoville_scale }} SHU </p>
  </div>
  <div class="card-action">
    <a href="{% url 'sauces_update' sauce.id %}">Edit</a>
    <a href="{% url 'sauces_delete' sauce.id %}">Delete</a>
  </div>
</div>

{% endblock %}
